{% extends "nav_main.html" %}

{% block content %}
  <style>

body {
background: white;
}
  </style>

<div class="well">
    <h2>{{ category }}</h2>
</div>

<ul class="list-group">
{% for product in product_list %}
    <li class="list-group-item">
    	<img alt="THIS IS THE CIRCLE IMAGE" src="{{ product.image }}" style="width:100px;height:100px" class="img-rounded"> <!--Chenghan Backend IMAGE FROM HERE MODIFY THE SOURCE-->
        <a href="/products/view_product/{{ product.slug }}">{{ product.product_name }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
