{% extends "nav_main.html" %}

{% block content %}
<div class="well">
    <h2>{{ category }}</h2>
</div>

<ul class="list-group">
{% for product in product_list %}
    <li class="list-group-item">
    	<img alt="THIS IS THE CIRCLE IMAGE" src="http://site2img-api.herokuapp.com/1078600787" style="width:100px;height:100px" class="img-circle"> <!--Chenghan Backend IMAGE FROM HERE MODIFY THE SOURCE-->
        <a href="/products/view_product/{{ product.slug }}">{{ product.product_name }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
