
{% block content %}
  <style>

body {
background: #6ecff6;
}
  </style>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to 2hand wiki</title>
        
        <!-- Our CSS stylesheet file -->

        <link rel="stylesheet" href="http://www.hyounmin.com/data/styles.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>

    <div id="formContainer">
      <form id="login" method="post" action="/login/">
                    {% if invalid %}
                    <div class="alert alert-danger">
                        The email and password you entered does not belong to any account.
                    </div>
                    {% endif %}

                    <div id="id_email_absent" class="alert alert-danger" style="display:none;">
                        Please enter an email address
                    </div>

                    <div id="id_email_invalid" class="alert alert-danger" style="display:none;">
                        Please enter a valid email address
                    </div>

        <a href="#" id="flipToRegister" class="flipLink">Register</a>
  
                      <input class="form-control" name="email" id="id_email" placeholder="hello@example.com" type="text">
      

    
                      <input class="form-control" name="password" id="password" placeholder="******" type="password">
      
        
        <div id="id_password_absent" class="alert alert-danger" style="display:none;">
                        Please enter a password 
        </div>

        <input type="submit" name="submit" value="Login" onclick="submit_login();" />
         {% csrf_token %}
      </form>
     

     <form action="/sign_up/" method="POST" id="register" name="signup_form">
            <a href="#" id="flipToLogin" class="flipLink">Login</a>
                    {% if email_exists %}
                        <div id="id_email_already_exists" class="alert alert-danger"> 
                            The email provided is already being used. Please use another email.
                        </div>
                    {% endif %}

                    <div id="id_email_absent" class="alert alert-danger" style="display:none;">
                        Please enter an email address
                    </div>

                    <div id="id_email_invalid" class="alert alert-danger" style="display:none;">
                        Please enter a valid email address
                    </div>

                    <div class="form-group">
                ]
                      <input class="form-control" name="email" id="id_email" placeholder="hello@example.com" type="text">
                    </div>

                    <div id="id_first_name_absent" class="alert alert-danger" style="display:none;">
                        Please enter your first name 
                    </div>

                    <div class="form-group">
                 ]
                      <input class="form-control" name="first_name" id="first_name" placeholder="First Name" type="text">
                    </div>
                    <!--
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input class="form-control" name="last_name" id="id_last_name" placeholder="last name" type="text">
                    </div>
                    -->
                    <div id="id_password_absent" class="alert alert-danger" style="display:none;">
                        Please enter a password 
                    </div>

                    <div class="form-group">
                      <label for="inputPassword" class="control-label">Password</label>
                      <input class="form-control" name="password" id="password" placeholder="******" type="password">
                    </div>

                    <div class="form-group">
                      <button type="submit" name="submit" value="Login" onclick="submit_signup();">Sign up</button>
                    </div>
                    {% csrf_token %}
                </form>


      
        
     
    </div>

              <!-- JavaScript includes -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://www.hyounmin.com/data/script.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script>
function submit_login()
{
    $('#id_email_absent').hide();
    $('#id_email_invalid').hide();
    $('#id_password_absent').hide();

    email = $('#loginEmail').val();
    password = $('#password').val();

    if(email=="" || email==null){
        $('#id_email_absent').show();
        return;
    }
    
    if (!validate_email()){
        return;
    }

    if(password=="" || password==null){
        $('#id_password_absent').show();
        return;
    }

    $('#id_login_form').submit();
}

function validate_email()
{
    var x=document.forms["login_form"]["email"].value;
    var atpos=x.indexOf("@");
    var dotpos=x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
    {
        $('#id_email_invalid').show()
        return false;
    }
    return true;
}

function submit_signup()
{
    $('#id_email_already_exists').hide();
    $('#id_email_absent').hide();
    $('#id_email_invalid').hide();
    $('#id_first_name_absent').hide();
    $('#id_password_absent').hide();

    email = $('#id_email').val();
    password = $('#id_password').val();
    first_name = $('#id_first_name').val();

    if(email=="" || email==null){
        $('#id_email_absent').show();
        return;
    }
    
    if (!validate_email()){
        return;
    }

    if(first_name=="" || first_name==null){
        $('#id_first_name_absent').show();
        return;
    }

    if(password=="" || password==null){
        $('#id_password_absent').show();
        return;
    }
    $('#id_signup_form').submit();
}

function validate_email()
{
    var x=document.forms["signup_form"]["email"].value;
    var atpos=x.indexOf("@");
    var dotpos=x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
    {
        $('#id_email_invalid').show()
        return false;
    }
    return true;
}











</script>





    </body>
</html>

{% endblock %}


