
<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to 2hand wiki</title>
        
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="http://www.hyounmin.com/data/styles.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>

    <div id="formContainer">
      <form id="login" method="post" action="./">
        <a href="#" id="flipToRegister" class="flipLink">Register</a>
        <input type="text" name="loginEmail" id="loginEmail" value="Email" />
        <input type="password" name="loginPass" id="loginPass" value="pass" />
        <input type="submit" name="submit" value="Login" />
      </form>
      <form id="register" method="post" action="./">
        <a href="#" id="flipToLogin" class="flipLink">Login</a>
        <input type="text" name="registerEmail" id="loginEmail" value="Email" />
        <input type="password" name="register" id="loginPass" value="pass" />
        <input type="submit" name="submit" value="Register" />
      </form>
    </div>

              <!-- JavaScript includes -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://www.hyounmin.com/data/script.js"></script>

    </body>
</html>


