{% extends "nav_main.html" %}
{% block content %}
<div class="container">
    <!--
  	<div class="row">
      <div class="col-md-4 col-md-offset-4">
        <img class="img-circle img-responsive center-block" src="//placehold.it/200">
        <br><br>
      </div>
  	</div>
    -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- login form -->
            <div class="well" style="margin-top: 20%;">
                <form action="/login/" method="POST" name="login_form" id="id_login_form">
                    {% if invalid %}
                    <div class="alert alert-danger">
                        The email and password you entered does not belong to any account.
                    </div>
                    {% endif %}

                    <div id="id_email_absent" class="alert alert-danger" style="display:none;">
                        Please enter an email address
                    </div>

                    <div id="id_email_invalid" class="alert alert-danger" style="display:none;">
                        Please enter a valid email address
                    </div>

                    <div class="form-group">
                      <label class="control-label">E-Mail</label>
                      <input class="form-control" name="email" id="id_email" placeholder="hello@example.com" type="text">
                    </div>

                    <div id="id_password_absent" class="alert alert-danger" style="display:none;">
                        Please enter a password 
                    </div>

                    <div class="form-group">
                      <label for="inputPassword" class="control-label">Password</label>
                      <input class="form-control" name="password" id="id_password" placeholder="******" type="password">
                    </div>

                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-block" onclick="submit_login();">Login</button>
                    </div>
                    {% csrf_token %}
                </form>
                <div>   
                    New user? <a href="/sign_up">Click here</a>
                </div>

            </div>
            
        </div><!-- end col -->
    </div><!-- end row -->
</div>

<script>
function submit_login()
{
    $('#id_email_absent').hide();
    $('#id_email_invalid').hide();
    $('#id_password_absent').hide();

    email = $('#id_email').val();
    password = $('#id_password').val();

    if(email=="" || email==null){
        $('#id_email_absent').show();
        return;
    }
    
    if (!validate_email()){
        return;
    }

    if(password=="" || password==null){
        $('#id_password_absent').show();
        return;
    }

    $('#id_login_form').submit();
}

function validate_email()
{
    var x=document.forms["login_form"]["email"].value;
    var atpos=x.indexOf("@");
    var dotpos=x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
    {
        $('#id_email_invalid').show()
        return false;
    }
    return true;
}

</script>

{% endblock %}
