{% extends "nav_main.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="well well-lg">
                <ul class="nav"> 
                    <li>header1</li>
                    <li>header2</li>
                    <li>header3</li>
                    <li>header4</li>
                    <li>header5</li>
                </ul> <!-- end nav nav-list -->
            </div>
        </div> <!-- end col-md-2 -->

        <div class="col-md-10">
            <div class="jumbotron">
                <h1>The Manhattan Project</h1>
            </div>
        </div> <!-- end col-md-10 -->



    </div> <!-- end row -->

</div> <!-- /container -->

{% endblock %}
