{% extends "nav_main.html" %}

{% block content %}
  <style>
   .jumbotron{
   	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(http://www.hyounmin.com/data/about.jpg) no-repeat 0 0;
height:600px;

   }
  </style>

<div class="jumbotron">
    <h1>2 hand wiki</h1>
    <h2>Chenghan, Ethan, Min and Jae have met to</h2>
    <h2>change the way people buy products.</h2>
    <h2>Your one stop guide to second hand products.  </h2>


</div>

{% endblock %}