<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Manhattan Project</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <style>
        body {
            min-height: 100%;
            padding-top: 70px;
        }
    </style>    

</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">The Manhattan Project</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                
                <!-- search -->
                <form id="search_form" class="navbar-form navbar-left" action="/search/" method="POST">
                    <div class="form-group">
                        <input name="search_query" type="text" class="form-control" placeholder="Search">
                    </div> 
                    <span class="glyphicon glyphicon-search" onclick="$('#search_form').submit();" style="position:relative; left:-30px;"></span>
                    {% csrf_token %}
                </form>


                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
    
    <div class="container" style="padding-top:10px; padding-bottom:10px;">
        <div class="row">
            <div class="col-md-2">
                <a href="/products/new_product">
                    <button type="button" class="btn btn-primary" style="width:100%; margin-bottom: 60px;">
                        Add a new product <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </a>

                <div class="well well-lg">
                    <ul class="nav"> 
                        <li><a href="/products/camera">Camera</a></li>
                        <li><a href="#">Laptop</a></li>
                    </ul> <!-- end nav nav-list -->
                </div>
            </div> <!-- end col-md-2 -->    
            
            <div class="col-md-10">
                {% block content %}
                {% endblock %} 
            </div> <!-- end col-md-10 -->
        </div> <!-- end row -->
    </div> <!-- /container -->


</body>

</html>
