{% extends "nav_main.html" %}

{% block content %}

<form role="form" action="/new_product/" method="POST" id="new_product_form">

    <div id="id_category_error" class="alert alert-danger" style="display:none;">
        Please select a category.
    </div>

    <select class="form-control" name="category" id="id_category">
        <option>Camera</option>
        <option>Laptop</option>
        <option>Headphone</option>
        <option>Smartphone</option>
        <option>Tablet</option>
    </select>

    <div id="id_name_error" class="alert alert-danger" style="display:none;">
        Please enter the name of the product.
    </div>

	<div class="form-group">
        <label>Name of Product</label>
        <input name="product_name" id="id_product_name" class="form-control" placeholder="Name of Product">
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="file" id="Device_photo">
    </div>

    <div id="id_description_error" class="alert alert-danger" style="display:none;">
        Please provide a brief description of the product.
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="description" id="id_description" class="form-control" rows="3" style="
        height: 300px;
        "></textarea>
    </div>
	
    <button class="btn btn-default" onclick="checkform();">Submit</button>
    {% csrf_token %}
</form>

<script language="JavaScript" type="text/javascript">
function checkform()
{
    $('#id_category_error').hide();
    $('#id_name_error').hide();
    $('#id_description_error').hide();

    if ($('#id_category').val()) {
        $('#id_category_error').show();
        return;
    }
    if ($('#id_product_name').val() == "") {
        $('#id_name_error').show();
        return;
    }

    if ($('#id_description').val() == "") {
        $('#id_description_error').show();
        return;
    }

    $('#new_product_form').submit();
}
</script>

{% endblock %}
