{% extends "nav_main.html" %}

{% block content %}

    {{ product.product_name }}

    {{ product.description }}

<div class="carousel slide" data-ride="carousel" id="quote-carousel">
    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#quote-carousel" data-slide-to="1" class=""></li>
        <li data-target="#quote-carousel" data-slide-to="2" class=""></li>
    </ol>

    <div class="carousel-inner">
        <!-- Comment 1 -->
        <div class="item active" name="description1">
            <blockquote>
                <p>
                Check the shutter count.
                All dSLRs have a finite number of shutter cycles (actuations) that the camera can take 
                before the entire mechanism needs replacing.
                Manufacturers provide actuation ratings; a simple search on the Web will tell you the number 
                of cycles that the camera has been tested to. Ask the seller what the shutter count is, or if you have
                a chance to play with the camera before purchasing. There are a number of ways you can check for yourself.
                </p>
                <small>Reviewer 1</small>
            </blockquote>
        </div>
  
    <div class="item" name="description2">
        <blockquote>
            <p>Depending on who or where you buy your secondhand dSLR from, you may not get a lens included in the price. 
            This is not so much a problem if you already have an arsenal of compatible lenses. 
            With entry-level dSLRs, you may find that most sellers include the kit lens with the camera body. 
            Inspect the front and rear element for visible issues like scratching. 
            If the lens has a manual aperture ring, make sure the movement is smooth and the blades fold as expected.</p>
            <small>Reviewer 2</small>
        </blockquote>
    </div>
  
    <div class="item" name="description3">
        <blockquote>
            <p>The camera's LCD screen is the main way you will be interacting with your images on the camera.
            Make sure to inspect the LCD panel closely. The main things to look out for are dead pixels, 
            which can be most clearly viewed when there's an image of just one color on the display,
            and any cracks in the plastic coating.</p>
            <small>Reviewer 3</small>
        </blockquote>
    </div>

    </div><!-- end carousel inner -->

    <!-- Controls -->
    <a class="left carousel-control" href="#quote-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#quote-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<!-- display comment section -->
<div class="well well-sm">
    <h4>Comments:</h4>
</div>

<ul class="list-group" id="comment_list">
{% for comment in comments %}
    <li class="list-group-item">
        {{ comment.body }}
    </li>
{% endfor %}
</ul>


<!-- Add comment form -->
<form class="form-horizontal" id="add_comment_form" name="add_comment">
    <fieldset style="padding-left: 40px;">
        <!-- Add comment -->
        <legend>Add comment</legend>

        <div id="id_comment_error" class="alert alert-danger" style="display:none;">
            Please enter a comment.
        </div>
        <!-- Comment -->
        <div class="control-group" name="comment">
            <div class="controls" style="padding-left: 60px;">                     
                <textarea id="id_comment_body" name="comment_body" width="200px" style="width: 400px;" placeholder="Write a comment"></textarea>
            </div>
        </div>

        <!-- Comment Submit Button -->
        <div class="control-group">
            <div class="controls" style="padding-left: 60px;">
                <input type="button" value="submit" class="btn btn-default" onclick="submit_comment();"/>
            </div>
        </div>
    </fieldset>
</form>				
		 
<!--Add feature form--> 
<form class="form-horizontal" id="add_feature_form" name="add_feauture">
    <fieldset style="padding-left: 40px;">
        <legend>Add a new problem of a feature</legend>

        <div id="id_feature_name_error" class="alert alert-danger" style="display:none;">
            Please enter the name of the feature.
        </div>
        <!-- Text input-->
        <div class="control-group" style="bottom-margin:10px;">
            <label name="feauture_name" class="control-label" style="padding-left: 60px;">Feature name</label>
            <div class="controls" style="padding-left: 60px;">
                <input id="id_feature_name" name="feature_name" type="text" placeholder="Feauture name" class="input-large" width="60px" style="width: 400px;">
            </div>
        </div>

        <div id="id_feature_description_error" class="alert alert-danger" style="display:none;">
            Please enter a brief descriptin of the feature. 
        </div>
        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" style="padding-left: 60px;">Description</label>
            <div class="controls" style="padding-left: 60px;">                     
                <textarea id="id_feature_description" name="feature_description" width="200px" style="width: 400px;" placeholde="Description"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <div class="controls" style="padding-left: 60px;">
                <input type="button" value="submit" class="btn btn-default" onclick="submit_description();"/>
            </div>
        </div>
    </fieldset>
</form>


<script>
function submit_comment(){
    $('#id_comment_error').hide();

    if ($('#id_comment').val() == "") {
        $('#id_comment_error').show();
        return;
    }
    alert('before ajax');
    $.ajax({
        type: "POST",
        data: {
            "comment_body":$('#id_comment_body').val(),
        },
        url: "/products/new_comment/"+{{ product.slug }}+"/",
        success: function(data, msg) {
            alert('success');
            $('#comment_list').append("<li class='list-group-item'>"+$('#id_comment_body').val()+"</li>");
        }        

    });
    //$('#add_comment_form').submit();
}

function submit_description(){
    $('#id_feature_name_error').hide();
    $('#id_feature_description_error').hide();

    if ($('#id_feature_name').val() == "") {
        $('#id_feature_name_error').show();
        return;
    }
    if ($('#id_feature_description').val() == "") {
        $('#id_feature_description_error').show();
        return;
    }
    $('#add_feature_form').submit();
}

</script>


{% endblock %}
