{% extends "nav_main.html" %}

{% block content %}
<div class="carousel slide" data-ride="carousel" id="quote-carousel">
    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
        {% for feature in features %}
            {% if forloop.counter == 1 %} 
                <li data-target="#quote-carousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
            {% else %}
                <li data-target="#quote-carousel" data-slide-to="{{ forloop.counter }}"></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for feature in features %}
            {% if forloop.counter == 1 %} 
                <div class="item active" name="description_{{ feature.id }}">
                    <blockquote>
                        <h3>{{ feature.feature_name }}</h3>
                        <p>{{ feature.description }}</p>
                        <small>{{ feature.author.first_name }}</small>
                    </blockquote>
                </div>
            {% else %}
                <div class="item" name="description_{{ feature.id }}">
                    <blockquote>
                        <h3>{{ feature.feature_name }}</h3>
                        <p>{{ feature.description }}</p>
                        <small>{{ feature.author.first_name }}</small>
                    </blockquote>
                </div>
            {% endif %}
        {% endfor %}
    </div><!-- end carousel inner -->

    <!-- Controls -->
    <a class="left carousel-control" href="#quote-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#quote-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<!-- display comment section -->
<div class="well well-sm" style="margin-top:10px;">
    <h4>Comments:</h4>
    <ul class="list-group" id="comment_list">
    {% for comment in comments %}
        <li class="list-group-item" id="comment_{{ comment.id }}">
            <b>{{ comment.author.first_name }}: </b>
            {{ comment.body }}


            {% if comment.author == user %}
                <span style="float:right; color:blue;" onclick="$('#id_comment_edit_{{ comment.id }}').show(); $('#id_comment_edit_button_{{ comment.id }}').show();">Edit</span>
                <span class="glyphicon glyphicon-remove" style="float:right;" onclick="delete_comment({{ comment.id }});"></span>
            {% endif %}

            <textarea id="id_comment_edit_{{ comment.id }}" style="display:none;"></textarea>
            <button id="id_comment_edit_button_{{ comment.id }}" style="display:none;" onclick="edit_comment({{ comment.id }});">submit edit</button>

        </li>
    {% endfor %}
    </ul>
</div>

<!-- Add comment form -->
<form class="form-horizontal" id="add_comment_form" name="add_comment">
    <fieldset style="padding-left: 40px;">
        <!-- Add comment -->
        <legend>Add comment</legend>

        <div id="id_comment_error" class="alert alert-danger" style="display:none;">
            Please enter a comment.
        </div>
        <!-- Comment -->
        <div class="control-group" name="comment">
            <div class="controls" style="padding-left: 60px;">                     
                <textarea id="id_comment_body" name="comment_body" width="200px" style="width: 400px;" placeholder="Write a comment"></textarea>
            </div>
        </div>

        <!-- Comment Submit Button -->
        <div class="control-group">
            <div class="controls" style="padding-left: 60px;">
                <input type="button" value="submit" class="btn btn-default" onclick="submit_comment();"/>
            </div>
        </div>
    </fieldset>
</form>				
		 
<!--Add feature form--> 
<form class="form-horizontal" method="POST" action="/products/new_feature/" id="add_feature_form" name="add_feauture">
    <fieldset style="padding-left: 40px;">
        <legend>Add a new problem of a feature</legend>

        <div id="id_feature_name_error" class="alert alert-danger" style="display:none;">
            Please enter the name of the feature.
        </div>
        <!-- Text input-->
        <div class="control-group" style="bottom-margin:10px;">
            <label name="feauture_name" class="control-label" style="padding-left: 60px;">Feature name</label>
            <div class="controls" style="padding-left: 60px;">
                <input id="id_feature_name" name="feature_name" type="text" placeholder="Feauture name" class="input-large" width="60px" style="width: 400px;">
            </div>
        </div>

        <div id="id_feature_description_error" class="alert alert-danger" style="display:none;">
            Please enter a brief descriptin of the feature. 
        </div>
        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" style="padding-left: 60px;">Description</label>
            <div class="controls" style="padding-left: 60px;">                     
                <textarea id="id_feature_description" name="feature_description" width="200px" style="width: 400px;" placeholde="Description"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <div class="controls" style="padding-left: 60px;">
                <input type="button" value="submit" class="btn btn-default" onclick="submit_description();"/>
            </div>
        </div>

        <!-- product_id -->
        <input type="hidden" name="product_id" value={{ product.id }}>
    </fieldset>
    {% csrf_token %}
</form>


<script type='text/javascript'>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function submit_comment(){
    $("#id_comment_error").hide();

    if ($("#id_comment_body").val() == "") {
        $("#id_comment_error").show();
        return;
    }
    var comment_body = $("#id_comment_body").val();
    $.ajax({
        type: "POST",
        url: "/products/new_comment/",
        data: {"comment_body": comment_body, "product_id": {{ product.id }}},
        success: function(data) {
            $("#id_comment_body").val("");
            $("#comment_list").append(data["html_string"]);
        }, 
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
            alert(thrownError);
        }
    });
}

function delete_comment(id){
    $.ajax({
        type: "POST",
        url: "/products/delete_comment/",
        data: {"comment_id": id},
        success: function(data) {
            $("#comment_"+id.toString()).remove();
        }, 
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
            alert(thrownError);
        }
    });   
}

function edit_comment(id){
    var edited_comment = $("#id_comment_edit_"+id.toString()).val();
    $.ajax({
        type: "POST",
        url: "/products/edit_comment/",
        data: {"comment_id": id, "comment_body": edited_comment},
        success: function(data) {
            var first_part = "<b>"+data["first_name"]+"</b>: "+edited_comment;

            $("#comment_"+id.toString()).html(first_part+"<span style='float:right; color:blue;' onclick=\"$('#id_comment_edit_"+ id.toString() + "').show(); $('#id_comment_edit_button_"+ id.toString()  +"').show();\">Edit</span>"+"<span class='glyphicon glyphicon-remove' style='float:right;' onclick=\"delete_comment("+ id.toString() +");\"></span><textarea id='id_comment_edit_"+ id.toString() +"' style='display:none;'></textarea><button id='id_comment_edit_button_"+ id.toString()+"' style='display:none;' onclick=\"edit_comment("+ id.toString() +");\">submit edit</button>");
        }, 
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
            alert(thrownError);
        }
    });   
}

function submit_description(){
    $("#id_feature_name_error").hide();
    $("#id_feature_description_error").hide();

    if ($("#id_feature_name").val() == "") {
        $("#id_feature_name_error").show();
        return;
    }
    if ($("#id_feature_description").val() == "") {
        $("#id_feature_description_error").show();
        return;
    }
    alert("before submit description");
    $('#add_feature_form').submit();
}

</script>

{% endblock %}
